body {
  /* margin: 30px; */
  color: #343a41;
  /* background-color: rgb(249, 246, 174); */
  font-family: 'Roboto', sans-serif;

}

.container {
  display: flex;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.navbar {
  /* background-color: rgb(90, 185, 243, 0.96); */
}

.navbar-logo {
  display: block;
  margin: 6px 0 10px 25px;
  /* margin-right: auto; */
}

.navbar-links {
  float: right;
}

.sidebar {
  /* float: left; */
  padding: 20px 30px 1350px 30px;
  width: 25%;
  position: sticky;
  top: 0px;
  background-color: lightgrey;
  margin-bottom: -1350px;
}

.main-content {
  background-color: white;
  padding: 40px 30px 30px 30px;
  position: relative;
  top: -350px;
  float: right;
  width: 75%;
}

.headline {
  text-align: center;
  font-size: 1.9em;
  margin: 0 0 1em 0;
  font-family: 'Oswald', sans-serif;
}

.loading-message {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
}

.sidebar-form {
  margin: 0 0 40px 0;
  text-align: center;
}

.search-prompt {
  font-size: 1.25em;
  font-family: 'Oswald', sans-serif;
}

.mix-headline {
  font-family: 'Zilla Slab', serif;
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

.mix-item {
  margin: 0 0 0.75em 0;
}

.news-source {
  font-family: 'Staatliches', sans-serif;
  font-size: 0.95em;
  position: relative;
  top: 0.03em;
  padding: 0 0.4em 0 0;
}

.news-content {
  font-size: .75em;
  line-height: 0.8;
  font-family: 'Roboto', sans-serif;
}

.save-button {
  font-size: 1.5em;
  font-family: 'Staatliches', sans-serif;
  position: absolute;
  top: 10px;
  right: 30px;
  color: lightgrey;
  cursor: pointer;
}

.hoverDiv:hover {
  color: rgb(238, 65, 68);
}
