body {
  /* margin: 30px; */
  color: #343a41;
  /* background-color: rgb(249, 246, 174); */

}

.container {
  display: flex;
}

a:hover, a:visited, a:link, a:active {
   text-decoration: none;
}

.navbar {
  background-color: rgb(73, 166, 199);
}

.sidebar {
  align-content: center;
  float: left;
  padding: 20px 30px 0 30px;
  height: 500vh;
  max-width: 200px;
  position: sticky;
  top: 0px;
  background-color: lightgrey;
}

.main-content {
  background-color: white;
  /* padding: 20px 30px 20px 30px; */
  padding: 20px 30px 30px 30px;
}
