body {
  /* margin: 30px; */
  color: #343a41;
  /* background-color: rgb(249, 246, 174); */
  font-family: 'Roboto', sans-serif;

}

.container {
  display: flex;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbar-item {
  margin: 0 30px;
}

.btn {
  font-family: 'Oswald  ', sans-serif;
}

.main-content {
  background-color: white;
  padding: 40px 30px 30px 30px;
  position: absolute;
  top: 100px;
  left: 200px;
  min-width: 740px;
}

.headline {
  text-align: center;
  font-size: 1.9em;
  margin: 0 0 1em 0;
  font-family: 'Oswald', sans-serif;
}

.loading-message {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
}

.sidebar {
  text-align: center;
  padding: 20px 30px 1350px 30px;
  max-width: 200px;
  position: sticky;
  top: 0px;
  background-color: lightgrey;
  margin-bottom: -1350px;
  text-align: center;
}

.sidebar-container {
  margin: 0 0 40px 0;
}

.sidebar-heading {
  font-size: 1.5em;
  font-family: 'Staatliches', sans-serif;
  margin: 0 0 0.5em 0;
}

.sidebar-link {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
}

.top-links-container {
  margin: 1.5em 0 2em 0;
}

.mix-headline {
  font-family: 'Zilla Slab', serif;
  font-size: 1.2em;
  margin: 5px 0 0 0;
}

.mix-item {
  margin: 0 0 0.75em 0;
}

.news-source {
  font-family: 'Staatliches', sans-serif;
  font-size: 0.95em;
  position: relative;
  top: 0.03em;
  padding: 0 0.4em 0 0;
}

.news-content {
  font-size: .75em;
  line-height: 0.8;
  font-family: 'Roboto', sans-serif;
}

.heart-shape {
  font-size: 1.5em;
  font-family: 'Staatliches', sans-serif;
  position: absolute;
  top: 20px;
  right: 50px;
}

.save-button {
  color: rgb(27, 27, 27);
  cursor: pointer;
  color: lightgrey;
}

.hoverDiv:hover {
  color: rgb(213, 55, 58);
}

.saved-label {
  color: rgb(213, 55, 58);
}
